.footer_background {
  background-color: #212529;
  .footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      p {
        color: white;
      }
      a {
        text-decoration: underline;
        color: white;
      }
      span {
        color: white;
      }
    }
  }
}
@media only screen and (max-width: 770px) {
  .footer_background {
    .container {
      padding: 0 20px;
    }
  }
}
@media only screen and (max-width: 670px) {
  .footer_background {
    .footer {
      div {
        p {
          font-size: 14px;
        }
        a {
          font-size: 14px;
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .footer_background {
    .footer {
      div {
        p {
          font-size: 10px;
        }
        a {
          font-size: 10px;
        }
      }
    }
  }
}
